# dependencies
/node_modules/
/.env
/discord-frontend/node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/discord-frontend/build

# misc
/discord-frontend/.env.local
/discord-frontend/.env.development.local
/discord-frontend/.env.test.local
/discord-frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*